In [1]:
import pandas as pd

In [3]:
airbnb = pd.read_csv('listings.csv')
airbnb

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2384,"Hyde Park - Walk to UChicago, 10 min to McCormick",2613,Rebecca,NaN,Hyde Park,41.78790,-87.58780,Private room,60,2,178,2019-12-15,2.56,1,353
1,4505,394 Great Reviews. 127 y/o House. 40 yds to tr...,5775,Craig & Kathleen,NaN,South Lawndale,41.85495,-87.69696,Entire home/apt,105,2,395,2020-07-14,2.81,1,155
2,7126,Tiny Studio Apartment 94 Walk Score,17928,Sarah,NaN,West Town,41.90289,-87.68182,Entire home/apt,60,2,384,2020-03-08,2.81,1,321
3,9811,Barbara's Hideaway - Old Town,33004,At Home Inn,NaN,Lincoln Park,41.91769,-87.63788,Entire home/apt,65,4,49,2019-10-23,0.63,9,300
4,10610,3 Comforts of Cooperative Living,2140,Lois,NaN,Hyde Park,41.79612,-87.59261,Private room,21,1,44,2020-02-14,0.61,5,168
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6392,45514091,Best view of Chicago downtown + optional parking,367907062,Melanie And Ryan,NaN,Near South Side,41.85574,-87.62507,Entire home/apt,146,2,0,NaN,NaN,4,180
6393,45514389,Luxurious 3Br/2Ba with optional parking and View,367907062,Melanie And Ryan,NaN,Near South Side,41.85561,-87.62342,Entire home/apt,195,2,0,NaN,NaN,4,180
6394,45514632,Two story Penthouse w private Rooftop & Great ...,367907062,Melanie And Ryan,NaN,Near South Side,41.85584,-87.62404,Entire home/apt,493,2,0,NaN,NaN,4,177
6395,45515281,West Town Private Room,347064639,Ali,NaN,West Town,41.89005,-87.66668,Private room,53,32,0,NaN,NaN,1,83
6396,45515581,Chicago Themed Private Garden Apartment,19541995,Kendal,NaN,Douglas,41.82964,-87.62048,Entire home/apt,61,1,0,NaN,NaN,1,170

In [6]:
df=airbnb.drop(['neighbourhood_group'], axis=1)

In [7]:
df

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2384,"Hyde Park - Walk to UChicago, 10 min to McCormick",2613,Rebecca,Hyde Park,41.78790,-87.58780,Private room,60,2,178,2019-12-15,2.56,1,353
1,4505,394 Great Reviews. 127 y/o House. 40 yds to tr...,5775,Craig & Kathleen,South Lawndale,41.85495,-87.69696,Entire home/apt,105,2,395,2020-07-14,2.81,1,155
2,7126,Tiny Studio Apartment 94 Walk Score,17928,Sarah,West Town,41.90289,-87.68182,Entire home/apt,60,2,384,2020-03-08,2.81,1,321
3,9811,Barbara's Hideaway - Old Town,33004,At Home Inn,Lincoln Park,41.91769,-87.63788,Entire home/apt,65,4,49,2019-10-23,0.63,9,300
4,10610,3 Comforts of Cooperative Living,2140,Lois,Hyde Park,41.79612,-87.59261,Private room,21,1,44,2020-02-14,0.61,5,168
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6392,45514091,Best view of Chicago downtown + optional parking,367907062,Melanie And Ryan,Near South Side,41.85574,-87.62507,Entire home/apt,146,2,0,NaN,NaN,4,180
6393,45514389,Luxurious 3Br/2Ba with optional parking and View,367907062,Melanie And Ryan,Near South Side,41.85561,-87.62342,Entire home/apt,195,2,0,NaN,NaN,4,180
6394,45514632,Two story Penthouse w private Rooftop & Great ...,367907062,Melanie And Ryan,Near South Side,41.85584,-87.62404,Entire home/apt,493,2,0,NaN,NaN,4,177
6395,45515281,West Town Private Room,347064639,Ali,West Town,41.89005,-87.66668,Private room,53,32,0,NaN,NaN,1,83
6396,45515581,Chicago Themed Private Garden Apartment,19541995,Kendal,Douglas,41.82964,-87.62048,Entire home/apt,61,1,0,NaN,NaN,1,170

In [8]:
df.nlargest(10, ['number_of_reviews'])

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
798,10069247,Shared Artist Loft Own Private Room,51668477,Michael,Near North Side,41.88924,-87.63032,Private room,102,1,632,2020-09-20,10.97,8,329
55,464581,"Large, Private Logan Square Studio",2308792,Jonathan,Logan Square,41.92451,-87.69385,Entire home/apt,60,2,629,2020-09-17,6.39,1,127
79,726376,"Spacious Studio, Amazing Location!",2658212,James,Lake View,41.93932,-87.65218,Entire home/apt,106,2,625,2020-08-02,6.49,4,0
208,2570620,"Basement Studio w/Free St. Parking, Humboldt Park",1214607,Coral,Humboldt Park,41.89826,-87.70336,Entire home/apt,45,1,552,2020-09-19,7.16,2,147
115,1171860,"Lincoln Park Studio, Great Value!",2658212,James,Lincoln Park,41.92628,-87.64026,Entire home/apt,99,30,541,2020-07-29,6.16,4,96
482,6504170,West Town Traveler's Lodge,4591141,Moudi,West Town,41.90064,-87.67056,Entire home/apt,106,7,511,2020-06-10,7.90,2,23
27,189821,"Best in Chicago, private, amazing garden space",899757,Meighan,Logan Square,41.92918,-87.70219,Entire home/apt,201,3,506,2020-09-12,4.61,1,134
116,1183249,"Boystown Studio, Outstanding Value!",2658212,James,Lake View,41.93950,-87.64483,Entire home/apt,99,26,504,2020-07-24,5.67,4,31
13,39742,Central guestroom! Walk everywhere!,170758,Eric,Near North Side,41.89377,-87.63465,Private room,75,2,500,2019-09-30,4.13,1,0
50,350347,"Luxury Chicago Loft, 1 blk to train w/ 2 pkg s...",845242,Jay & Elisa,Lake View,41.93986,-87.65473,Entire home/apt,128,3,499,2020-09-06,4.79,1,313